__pycache__
.snakemake
.vscode
phenotyping/input/*
phenotyping/intermediate/*
phenotyping/output/*
phenotyping/scripts/latent-rna
pheast/input/*
pheast/intermediate/*
pheast/output/*
.DS_Store
Pantry.egg-info
build
phenotyping/ref/*.gtf
phenotyping/ref/*.fa
phenotyping/ref/*.bed
phenotyping/ref/Homo_sapiens.GRCh38.106.gtf
phenotyping/ref/Homo_sapiens.GRCh38.dna.primary_assembly.fa
phenotyping/ref/Homo_sapiens.GRCh38.106.gtf
phenotyping/ref/Homo_sapiens.GRCh38.dna.primary_assembly.fa
phenotyping/ref/Homo_sapiens.GRCh38.106.gtf
phenotyping/ref/Homo_sapiens.GRCh38.dna.primary_assembly.fa
